<%- include("partials/header"); -%>
    <div class="center">
        <h2>Book Successfully Borrowed</h2>
        <p>Book name: <%= title %> </p>
        <% var b = "/student/dashboard/" + username %> 
        <button class="btn btn-dark" onclick="document.location='<%= b%>'">Return to Dashboard</button>
    </div>
<%- include('partials/footer') %>