<%- include("partials/header"); -%>
<br><br><br><br><br>
<div class="jumbotron centered">
    <div class="container">
      <img src="/images/bookshelf.png" alt="" class="img1">
      <h1 class="display-3">Online Library Management System</h1>
      <p class="lead"></p>
      <hr>
      <a class="btn btn-light btn-lg" href="/student/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/student/login" role="button">Login</a>
      <a class="btn btn-dark btn-lg" href="" role="button" style="float: right;">Admin Login</a>
      
    </div>
  </div>
<br><br><br><br>
  <%- include('partials/footer') %>